<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<ItemGroup>
		<Reference Include="Guna.UI2">
			<HintPath>..\packages\Guna.UI2.2.0.0.4\lib\net45\Guna.UI2.dll</HintPath>
		</Reference>
	</ItemGroup>


</configuration>

